.App {
}

.app-main-content {
    display: flex;
}

.app-left-panel {
    flex: 2;
    position: relative;
    border-bottom: 1px solid darkgray;
}

.App p {
    display: inline-block;
    margin: 0 20px 5px 20px;
}

.parent {

}

.parent-title {
    background-color: lightgray;
    padding: 10px;
    box-shadow: 0 4px 2px -2px gray;
}

.parent-title h1 {
    color: #444;
    font-weight: 500;
    margin: 0 0 5px 0;
    line-height: 18px;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
}

.render-audit {
    min-width: 350px;
    flex: 1;
    border-left: 1px solid darkgray;
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.children-group {
    flex: 1;
    margin: 10px;
    border: 1px solid darkgray;
    background-color: #f6f6f6;
}

.children-group h2 {
    color: #444;
    font-weight: 500;
    margin: 0;
    padding: 3px 10px;
}

.children-container {
    padding: 10px;
    display: flex;
}

.children-title {
    background-color: #d3ddfa;
}

.children-title input {
    margin-left: 13px
}

.children-title h2 {
    display: inline-block;
}

.children {
    position: relative;
    border: 1px solid darkgray;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #666;
    flex: 1;
}

.children h3 {
    color: #333;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.highlight-children {
    background-color: transparent;
    transition: background-color 0.3ms ease-in;
}

.highlight-children_active {
    background-color: rgba(255,160,122, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.App button {
    min-width: 90px;
    margin: 5px 0;
}

.button-container {
    display: flex;
    padding: 5px;
}

.counter-incrementer {
    border: 1px solid darkgray;
    padding: 0 5px;
    margin-right: 5px;
}

.counter-incrementer button {
    display: inline-block;
}

.counter-incrementer p {
    margin: 5px;
}

.title-panel {
    display: flex;
    height: 30px;
    border-bottom: 1px solid lightgray;
    background-color: #d7f3d7;
}

.title-panel h3 {
    padding-left: 5px;
    margin-top: 3px;
}

.title-panel__number {
    background-color: #707070;
    box-sizing: border-box;
    padding-top: 2px;
    color: #fff;
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
}

.settings-panel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
}

.custom-tooltip {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #333;
}

.custom-tooltip p {
    display: block;
}

@media only screen and (max-width: 1050px)  {
    .title-panel h3 {
        padding-left: 0;
    }

    .children-group {
        flex: 1;
        margin: 5px;
        border: 1px solid darkgray;
        background-color: #f6f6f6;
    }
}
