$borders_colors: #999;

.App {
    button {
        min-width: 90px;
        margin: 5px 0;
        cursor: pointer;
        padding: 7px;
    }

    p {
        padding: 0;
        margin: 0;
    }
}

header {
    border-bottom: 1px solid $borders_colors;
    padding: 15px;
    h1 {
        margin: 0;
        padding: 0;
    }
}

.introduction-container {
    display: flex;
    .introduction {
        flex: 1;
    }
    .links {
        margin-top: 30px;
        margin-left: 20px;
        width: 70px;
        .link {
            &:hover {
                background-color: #ddd;
            }
            background-color: #fff;
            transition: background-color 300ms ease-in;
            height: 80px;
            width: 80px;
            padding: 8px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            border-radius: 40px;
            cursor: pointer;
            display: block;
        }
    }
    p {
        padding-bottom: 5px;
    }
}

.app-main-content {
    display: flex;
}

.app-left-panel {
    flex: 2;
    position: relative;
    border-bottom: 1px solid $borders_colors;
    background-color: lightgray;
}

.parent {
    header {
        padding: 10px;
        border-bottom: none;
        h1 {
            color: #222;
            font-size: 26px;
            font-weight: 400;
            margin: 0 0 5px 0;
            line-height: 18px;
        }
    }
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
}

.render-audit {
    min-width: 350px;
    flex: 1;
    border-left: 1px solid $borders_colors;
    padding: 10px;
    border-bottom: 1px solid $borders_colors;
}

.children-group {
    flex: 1;
    margin: 10px;
    border: 1px solid $borders_colors;
    background-color: #f6f6f6;
    h2 {
        color: #444;
        font-weight: 500;
        margin: 0;
        padding: 3px 10px;
    }
}

.children-container {
    padding: 10px;
    display: flex;
}

.children-title {
    background-color: #d3ddfa;
    input {
        margin-left: 13px
    }
    h2 {
        display: inline-block;
    }
}

.children {
    position: relative;
    border: 1px solid $borders_colors;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #666;
    flex: 1;
    h3 {
        color: #333;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
    }
    p {
        margin: 5px;
    }
}

.children__content {
    padding: 10px;
}

.highlight-children {
    background-color: transparent;
    transition: background-color 0.3ms ease-in;
}

.highlight-children_active {
    background-color: rgba(255,160,122, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button-container {
    display: flex;
    padding: 5px;
    p {
        display: inline-block;
        margin: 0 20px 5px 20px;
    }
}

.counter-incrementer {
    border: 1px solid $borders_colors;
    padding: 0 5px;
    margin-right: 5px;
    background-color: #fff;
    button {
        display: inline-block;
    }
    p {
        margin: 5px 0 5px 5px;
    }
}

.title-panel {
    display: flex;
    height: 30px;
    border-bottom: 1px solid lightgray;
    background-color: #d7f3d7;
    h3 {
        padding-left: 5px;
        margin-top: 3px;
        flex: 1;
    }
    a {
        margin-top: 4px;
        margin-right: 8px;
    }
}

.title-panel__number {
    background-color: #707070;
    box-sizing: border-box;
    padding-top: 2px;
    color: #fff;
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
}

.settings-panel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
}

.custom-tooltip {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #333;
    p {
        display: block;
    }
}

@media only screen and (max-width: 1050px)  {
    .title-panel h3 {
        padding-left: 0;
    }

    .children-group {
        flex: 1;
        margin: 5px;
        border: 1px solid darkgray;
        background-color: #f6f6f6;
    }
}

@media only screen and (max-width: 750px) {
    .app-main-content {
        flex-wrap: wrap;
    }
}
